@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");
.base_navbar {
  padding: 12.5px !important;
}
.base_nav_item_link_1 {
  font-size: 25px !important;
  margin-right: 12px !important;
}
.base_nav_item_link_2 {
  font-size: 25px !important;
  margin-right: 12px !important;
  color: lightgray !important;
}
