/*
sumary_line

Keyword arguments:
argument -- description
Return: return_description
*/

.home_card_1 {
  width: 18rem;
  border-radius: 25px;
}
.home_card_img_top_1 {
  border-radius: 25px;
}
.home_progress_bar_1 {
  width: 25%;
}
