{% extends "/admin/base.html" %} {% block head %}
<style>
  .overflow-hidden {
    padding: 25px !important;
  }
</style>
<title>Home</title>

{% endblock %} {% block body %}
<div>
  <span id="rightdiv"><h1>A</h1></span>
  <input type="submit" value="Submit" id="submit_btn" />
</div>
<script>
  var node = document.createElement("node");
  var node_text = document.createTextNode
  $("#submit_btn").click(function (e) {
    yourdiv = $("#rightdiv").html();
    $.ajax({
      type: "POST",
      url: "/divinfo",
      data: { yourdiv: yourdiv },
    });
  });
</script>
{% endblock %}
