{% extends "/admin/base.html" %} {% block head %}
<style>
  .content {
    padding: 25px !important;
  }
</style>
<title>Home</title>

{% endblock %} {% block body %}
<div class="container">
  <div id="content" class="content"></div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Add
    </button>
    <ul class="dropdown-menu" aria-labelledby="input">
      <li>
        <a type="input" value="input" id="input" class="dropdown-item" href="#"
          >Input</a
        >
      </li>
      <!-- <li>
        <a
          type="input"
          value="checkbox"
          id="checkbox"
          class="dropdown-item"
          href="#"
          >Check Box</a
        >
      </li>
      <li>
        <a
          type="input"
          value="big_input"
          id="big_input"
          class="dropdown-item"
          href="#"
          >Big Input</a
        >
      </li> -->
    </ul>
  </div>
  <br />
  <input class="btn btn-dark" type="submit" value="Submit" id="submit_btn" />
</div>
<div class="testing" id="testing"></div>
{{session['testing']}}
<script>
  var idx = 0;
  $("#input").click(function (e) {
    idx += 1;
    console.log(idx);
    document
      .getElementById("content")
      .insertAdjacentHTML(
        "beforeend",
        `<div class="mb-3" id="${idx.toString()}"><label for="${idx.toString()}-Label" class="form-label"><input class="form-control" id="${idx.toString()}-Input-Name"  type="text" ></label><input type="text" class="form-control" id="${idx.toString()}-Content"><br><button type="button" class="btn btn-danger" onClick="removeElement(${idx.toString()})">Delete</button><hr></div>`
      );
  });
  $("#checkbox").click(function (e) {
    idx += 1;
    console.log(idx);
    document
      .getElementById("content")
      .insertAdjacentHTML(
        "beforeend",
        '  <div class="mb-3 form-check" id="${idx.toString()}"><input type="checkbox" class="form-check-input" id="${idx.toString()}-Input-Name"><label id="${idx.toString()}-Content" class="form-check-label" for="exampleCheck1">Check me out</label></div><button type="button" class="btn btn-dark">Dark</button><hr>'
      );
  });
  $("#big_input").click(function (e) {
    idx += 1;
    console.log(idx);
    document
      .getElementById("content")
      .insertAdjacentHTML(
        "beforeend",
        '<div class="mb-3" id="${idx.toString()}"><label for="${idx.toString()}-Label" class="form-label"><input type="text" class="form-control" id="${idx.toString()}-Input-Name"></label><input type="text" class="form-control" id="${idx.toString()}-Content" rows=3></div><button type="button" class="btn btn-dark">Dark</button><hr>'
      );
  });

  $("#submit_btn").click(function (e) {
    var info = {};
    for (idx_iter = 1; idx_iter <= idx; idx_iter++) {
      console.log(`${idx_iter.toString()}-Content`);
      console.log(`${idx_iter.toString()}-Input-Name`);
      var label = document.getElementById(
        `${idx_iter.toString()}-Input-Name`
      ).value;
      var content = document.getElementById(
        `${idx_iter.toString()}-Content`
      ).value;
      console.log(label);
      console.log(content);
      info[idx_iter] = [label, content];
    }
    yourdiv = $("#content").html();
    console.log(JSON.stringify({ info: info, yourdiv: yourdiv }));
    $.ajax({
      type: "POST",
      url: "/Admin/Courses/Post/",
      data: JSON.stringify({ info: info, yourdiv: yourdiv }),
    });
  });
  function removeElement(idx) {
    console.log(idx);
    var element = document.getElementById(`${idx}`);
    element.remove();
  }
  var element = document.getElementById("testing");
  element.body.innerHTML = "<h1>A</h1>"; // TODO Redirect the POST Request to the API
</script>
{% endblock %}
