{% extends "/admin/base.html" %} {% block head %}

<title>Courses</title>

{% endblock %} {% block body %}
<div class="container">
  <div
    class="content"
    id="content"
    style="resize: both; overflow: auto; height: 250px"
  ></div>
  <hr />
  <br />
  <form>
    <div class="mb-3">
      <label for="Marks Required to Pass" class="form-label"
        >Marks Required to Pass</label
      >
      <input
        type="number"
        class="form-control"
        id="Marks Required to Pass"
        required
      />
    </div>
    <div style="resize: both; overflow: auto; height: 125px">
      {% for resource in resources %}
      <br />
      <button
        type="button"
        id="{{resource[0]}}"
        value="{{resource[3]}},{{resource[0]}},resource"
        class="btn btn-dark"
        onclick="add_to_content(this.value)"
      >
        {{resource[3]}}
      </button>
      <br />
      {% endfor %}
    </div>
    <br />
    <hr />
    <br />
    <div style="resize: both; overflow: auto; height: 125px">
      {% for question in questions %}
      <button
        type="button"
        id="{{question[0]}}"
        value="{{question[2]}},{{question[0]}},question"
        class="btn btn-dark"
        onclick="add_to_content(this.value)"
      >
        {{question[2]}}
      </button>
      {% endfor %}
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  var idx = 0;
  function delete_element(id) {
    var element = document.getElementById(id);
    element.parentNode.removeChild(element);
  }
  function add_to_content(val) {
    console.log(val);
    val = val.split(",");
    idx += 1;
    console.log(val);
    document.getElementById("content").insertAdjacentHTML(
      "beforeend",
      `<div id="${val[1]}-${val[2]}" class="${val[2]}" style="background-color:lightgray; padding:12.5px; margin:12.5px; border-radius: 25px">
        <h5>${val[0]}</h5>
        <button class="btn btn-danger" onClick="delete_element(${val[1]}-${val[2]})">Delete</button>
      </div>`
    );
  }
  $("#submit_btn").click(function (e) {
    var info = {};
    for (idx_iter = 1; idx_iter <= idx; idx_iter++) {
      console.log(`${idx_iter.toString()}-Label`);
      console.log(`${idx_iter.toString()}-Input-Name`);
      try {
        var label = document.getElementById(
          `${idx_iter.toString()}-Input-Name`
        ).value;
      } catch (error) {
        var label = "None";
      }
      try {
        var content = document.getElementById(
          `${idx_iter.toString()}-Label`
        ).value;
      } catch (error) {
        var content = "None";
      }
      try {
        var name = document.getElementById(`name`).value;
      } catch (error) {
        var name = "None";
      }
      console.log(label);
      console.log(content);
      console.log(name);
      info[idx_iter] = [label, content];
    }
    info["name"] = name;
    yourdiv = $("#content").html();
    console.log(JSON.stringify({ info: info, yourdiv: yourdiv }));
    $.ajax({
      type: "POST",
      url: "/Admin/Question/Post/",
      data: JSON.stringify({ info: info, yourdiv: yourdiv }),
    });
    alert("Question Added");
    window.location.reload(0);
  });
  function removeElement(idx) {
    console.log(idx);
    var element = document.getElementById(`${idx}`);
    element.remove();
  } // TODO Redirect the POST Request to the API
</script>
{% endblock %}
