{% extends "/admin/base.html" %} {% block head %}
<style>
  .overflow-hidden {
    padding: 25px !important;
  }
</style>
<title>Home</title>

{% endblock %} {% block body %}
<div>
  <div class="preview"></div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a id="Text" class="dropdown-item">Text</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>
<script>
  function myFunction() {
    document.onkeypress("Text");
    var para = document.createElement("P");
    para.innerHTML = "This is a paragraph.";
    document.getElementById("preview").appendChild(para);
  }
</script>
{% endblock %}
