<!--
sumary_line

Keyword arguments:
argument -- description
Return: return_description 
-->
{% extends "/dashboard/base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='dashboard/css/lesson.css') }}"
/>
<script src="{{ url_for('static', filename='dashboard/js/lesson.js') }}"></script>
<title>Lesson</title>

{% endblock %} {% block body %}

<div class="container">
  {% if resources == 'True' %}
  <h1><b>{{title}}</b></h1>
  <br />
  <p><b>{{description}}</b></p>
  <br />
  <iframe
    class="lesson_iframe_1"
    src="{{url}}"
    width="1000px"
    height="750px"
    frameborder="0"
  ></iframe>
  {% else %} {{code|safe}} <br />
  <button type="button" class="btn btn-dark" id="submit_btn">Submit</button>
  {% endif %}
</div>
{% endblock %}
